<%- include('partials/header') %>

<div>
  <a class="bg-violet-950 text-white p-3 rounded-3xl hover:bg-teal-950" href="/register" role="button">Register</a>
  <a class="bg-violet-950 text-white p-3 rounded-3xl hover:bg-teal-950" href="/login" role="button">Login</a>
</div>

<%- include('partials/footer') %>
